<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Edición de Usuario</title>
</head>

<body>

    <%- include ../partials/header %>

        <div class="editUser">

            <h1>Editar datos del usuario
                <%= user.name %>
            </h1>

            <form method="POST" action="/users/edit/<%= user.id %>">
                <input type="text" name="name" placeholder="Nombre de usuario" value="<%= user.name %>">
                <br>
                <input type="text" name="email" placeholder="Email" value="<%= user.email %>">
                <br>
                <input type="file" name="img" value="<%= user.img %>">
                <br>
                <input type="password" name="password" value="<%= user.password %>" hidden>
                <input type="number" name="op" value="<%= user.op %>" hidden>
                <button type="submit">Aplicar Cambios</button>
            </form>

            <%- include ../partials/footer %>
        </div>



</body>

</html>