<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Products list</title>
</head>

<body>

    <%- include ../partials/header %>

        <div class="product-index">
            <div class="filter">
                <p style="margin: 0;">Filtrar por Categorías</p>
                <a href="/products/index/3">Juegos</a>
                <a href="/products/index/6">Desktop</a>
                <a href="/products/index/1">Periféricos</a>
                <a href="/products/index/7">Laptops</a>
                <a href="/products/index/8">Componentes</a>
            </div>

            <div class="cat">
                <a href="/products/index/3">Juegos</a>
                <a href="/products/index/6">PCs de Escritorio</a>
                <a href="/products/index/1">Periféricos</a>
                <a href="/products/index/7">Laptops</a>
                <a href="/products/index/8">Componentes</a>
            </div>

            <div class="mainProducts">
                <ul>
                    <% for (let i = 0; i < products.length; i++) { %>
                        <% console.log(i) %>
                            <% console.log(products) %>
                                <li>
                                    <div class="box" id="<%= products[i].cat %>">
                                        <div class="topImg">
                                            <img src="/images/products/<%= products[i].image %>">
                                        </div>

                                        <div class="preview">
                                            <%= products[i].name %>
                                                <br>
                                                <p class="price">$
                                                    <%= products[i].price %>
                                                </p>
                                                <form method="GET" action="/products/show/<%= products[i].id %>">
                                                    <button type="submit">Ver</button>
                                                </form>
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                </ul>
            </div>

        </div>

        </div>

        <%- include ../partials/footer %>

            <script>
                const catSlide = () => {
                    const filter = document.querySelector("div.filter");
                    const categories = document.querySelector("div.cat");
                    let viewportWidth = window.innerWidth || document.documentElement.clientWidth;

                    let count = 0;
                    console.log(count);
                    filter.addEventListener("click", () => {

                        if (count == 0 && viewportWidth <= 768) {
                            categories.style.display = "flex";
                            count = 1;
                        } else {
                            categories.style.display = "none";
                            count = 0;
                        }
                    });


                }

                catSlide();

                //footer fix

                const footer = document.querySelector("footer");

                footer.style.position = "unset";

                //
            </script>
</body>

</html>